
.header {
  display: flex;
  justify-content: left;
  padding-left: 10px;
  padding-top: 11px;
}

.logo {
  margin-right: 8px;
}

.header_button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  font-weight: 500;
  transition: ease .3s;
}

.header_button:hover {
  color: rgba(221, 221, 221, 0.87);
  transition: ease .3s;
}